<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="Test.Properties.Settings.CoffeeManagementConnectionString" connectionString="Data Source=DESKTOP-0PQ4U60\SERVER01;Initial Catalog=CoffeeManagement;Persist Security Info=True;User ID=sa;Password=02092002Aa" providerName="System.Data.SqlClient" />
    <add name="CoffeeEntities" connectionString="metadata=res://*/Coffee.csdl|res://*/Coffee.ssdl|res://*/Coffee.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0PQ4U60\SERVER01;initial catalog=CoffeeManagement;persist security info=True;user id=sa;password=02092002Aa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>