<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.CoffeeManagementConnectionString"
            connectionString="Data Source=DESKTOP-Q57T1G3;Initial Catalog=CoffeeManagement;User ID=sa;Connect Timeout=30;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.CoffeeManagementConnectionString1"
            connectionString="Data Source=DESKTOP-Q57T1G3;Initial Catalog=CoffeeManagement;User ID=sa;Password=02092002Aa;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DAO.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=DESKTOP-Q57T1G3;Initial Catalog=CoffeeManagement;User ID=sa;Password=02092002Aa</value>
            </setting>
        </DAO.Properties.Settings>
    </userSettings>
</configuration>